In [1]:
import os
import sys
sys.path.append('..')
import pandas as pd
from finrashortdata import auth, daily_shorts_chunk_and_size, daily_shorts

In [2]:
client_id = os.getenv("TEST_API_CLIENT_ID", None)
secret = os.getenv("TEST_API_SECRET", None)

if not client_id or not secret:
    raise AssertionError(
        "tests require env variables TEST_API_CLIENT_ID, TEST_API_SECRET"
    )
token = auth(client_id, secret)

In [3]:
chunk, max_data = daily_shorts_chunk_and_size(token)
df: pd.DataFrame = await daily_shorts(
        token=token, offset=max_data - 10 * chunk
)

loading data (chunk_size=5000, offset=10668917, max_records=50000)...
daily_shorts() >>> took 21.648 seconds

In [4]:
df

                        volume  shorts  exempt  short_percent
tradeReportDate symbol
2022-06-22      WAT      68250   31043      23           45.5
                WATT     74573   42238      90           56.6
                WAVD     10897    1605       0           14.7
                WAVE      2625    2045       0           77.9
                WB      209831   54776    1257           26.1
...                        ...     ...     ...            ...
2022-06-24      ZWS     327092  108253       0           33.1
                ZY      564340  305461    1700           54.1
                ZYME    264434  170109       1           64.3
                ZYNE    214174  106467      41           49.7
                ZYXI    134683   80457       0           59.7

[26752 rows x 4 columns]

In [5]:
df.loc[df.index.isin(["AAPL"], level="symbol")]

                          volume    shorts  exempt  short_percent
tradeReportDate symbol
2022-06-23      AAPL    30331923  17265498   59683           56.9
2022-06-24      AAPL    29744419  16765515   87007           56.4