In [1]:
import os
import sys
sys.path.append('..')
import pandas as pd
from finrashortdata import auth, daily_shorts_chunk_and_size, daily_shorts

In [2]:
client_id = os.getenv("TEST_API_CLIENT_ID", None)
secret = os.getenv("TEST_API_SECRET", None)

if not client_id or not secret:
    raise AssertionError(
        "tests require env variables TEST_API_CLIENT_ID, TEST_API_SECRET"
    )
token = auth(client_id, secret)

In [3]:
chunk, max_data = daily_shorts_chunk_and_size(token)
df: pd.DataFrame = await daily_shorts(
        token=token, offset=max_data - 200 * chunk
)

loading data (chunk_size=5000, offset=9718917, max_records=1000000)...
daily_shorts() >>> took 52.368 seconds

In [4]:
df

                           volume     shorts  exempt  short_percent
tradeReportDate symbol
2022-04-28      BRGO    395532319  226826929       0           57.3
                BRID            3          1       0           33.3
                BRIV        70163      16412       0           23.4
                BRIVU        1500        900       0           60.0
                BRIVW         100        100       0          100.0
...                           ...        ...     ...            ...
2022-06-24      ZWS        327092     108253       0           33.1
                ZY         564340     305461    1700           54.1
                ZYME       264434     170109       1           64.3
                ZYNE       214174     106467      41           49.7
                ZYXI       134683      80457       0           59.7

[533477 rows x 4 columns]

In [5]:
df.loc[df.index.isin(["AAPL"], level="symbol")]

                          volume    shorts  exempt  short_percent
tradeReportDate symbol
2022-04-29      AAPL    51922328  27416910  547208           52.8
2022-05-02      AAPL    46149243  21204728  140678           45.9
2022-05-03      AAPL    42339766  17750349  100870           41.9
2022-05-04      AAPL    44402086  20874101  137249           47.0
2022-05-05      AAPL    48531426  22266409  252081           45.9
2022-05-06      AAPL    41995343  19279940  187615           45.9
2022-05-09      AAPL    51740753  17477307  134562           33.8
2022-05-10      AAPL    40736095  13887939  139651           34.1
2022-05-11      AAPL    53322641  21066497  190664           39.5
2022-05-12      AAPL    71401875  22108332  291168           31.0
2022-05-13      AAPL    49498551  19540375  169148           39.5
2022-05-16      AAPL    38942829  16817551  130587           43.2
2022-05-17      AAPL    35159301  15509241  175409           44.1
2022-05-18      AAPL    46525468  21248367  250796           45.7
2022-05-19      AAPL    61054498  23309680  225058           38.2
2022-05-20      AAPL    60081662  25135441  219516           41.8
2022-05-23      AAPL    56284233  28870251  180994           51.3
2022-05-24      AAPL    52217726  30602970  102011           58.6
2022-05-25      AAPL    42490309  27556827  137439           64.9
2022-05-26      AAPL    40504994  25085416  111156           61.9
2022-05-27      AAPL    38767801  23143539   77451           59.7
2022-05-31      AAPL    37523662  22434297  169766           59.8
2022-06-01      AAPL    34532959  20800175  105435           60.2
2022-06-02      AAPL    32413543  19760522   46282           61.0
2022-06-03      AAPL    36692280  22827976  217908           62.2
2022-06-06      AAPL    33153072  20118869  100793           60.7
2022-06-07      AAPL    30441707  18973329   56554           62.3
2022-06-08      AAPL    25902012  16175390   63185           62.4
2022-06-09      AAPL    29347641  18465459  153665           62.9
2022-06-10      AAPL    35987850  21761310   74435           60.5
2022-06-13      AAPL    52196464  22476132  141379           43.1
2022-06-14      AAPL    37803615  15568494  169335           41.2
2022-06-15      AAPL    38646618  18480050   78131           47.8
2022-06-16      AAPL    40578254  20283647  106044           50.0
2022-06-17      AAPL    36087143  13091599   74786           36.3
2022-06-21      AAPL    32620299  16847259   53536           51.6
2022-06-22      AAPL    32846079  17769952   71006           54.1
2022-06-23      AAPL    30331923  17265498   59683           56.9
2022-06-24      AAPL    29744419  16765515   87007           56.4

In [6]:
df.to_pickle("data1.pickle")